* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores principais */
    --cor-acido: #e5ff20;
    --cor-rosa: #ff3c80;
    --cor-roxo: #3911f3;
    --cor-ciano: #5cebf1;
    --cor-laranja: #ff7628;

    /* Cores neutras */
    --cor-preto: #0b0a0e;
    --cor-papel: #f5f0e8;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-acido);
    color: var(--cor-preto);
    font-family: Arial, Helvetica, sans-serif;
}

.faixa-anuncio {
    background-color: var(--cor-preto);
    color: var(--cor-papel);

    padding: 10px 0; /*10px = espaço superior e inferior - 0 = espaço esquerdo e direito */

    font-family: monospace;
    font-size: 0.7rem;
    font-weight: 900;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;

    white-space: nowrap;  /*impede a quebra do texto em linhas*/
    overflow: hidden; /*esconde o conteudo que ultrapassa a tela*/
}

.conteudo-faixa {
    display: flex; /*Coloca os dois <span> lado a lado horizontalmente.*/
    width: max-content;

    animation: mover-faixa 14s linear infinite;
}

.conteudo-faixa span {
    flex: 0 0 auto;  /*Não aumentar para preencher espaço | Não diminuir para caber | Calcular o tamanho com base no próprio conteúdo.*/
    min-width: 100vw;
    padding: 0 3rem;
}

@keyframes mover-faixa {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
